p{
    color: red;
}
h2{
    color: pink;
    font-size: 40px;
    background-color: black;
}
#title{
    color: green;
    background-color: yellow;
}
.item{
    background-color: pink;
    font-size: 40px;
    color: green;
}
#beans{
    color: red;
    background-color: black;
    font-size: 23px;
}
.pro{
    border: 2px solid black;
}
h1{
    color: red;
    font-size: 14px;
    background-color: black;
    padding: 18px;
    border: 2px solid white;
}
.para{
    color: blue;
    font-size: 28px;
    font-weight: 800;
    background-color: gray;
}
#special{
    border: 2px solid green;
    padding: 14px;
    font-size: 68px;
}